.DS_Store
.project
*-debug.log
*-error.log
.nyc_output
.editorconfig
.eslintignore
.eslintrc
.mocharc.json
package-lock.json
tsconfig.json
oclif.manifest.json
/.circleci
/.github
/dist
/src_org
/lib
/tmp
/yarn.lock
/node_modules
